---
# Overwrite Tachyons here. Don't go overboard!
---
.system { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; }
.cf { clear: both; }
.tracked-med { letter-spacing: .02em; }

.blue {
  color: #000DFF;
}

.sofia {
  font-family: "sofia-pro";
}

.cursor-crosshair {
  cursor: crosshair;
}

.difference {
  mix-blend-mode: difference;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

svg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.justify {
  text-align: justify;
}

#controls{position:absolute;z-index:100;color:white;}
#controls input[type=range]{background:none;}
#controls input[type=number]{width:3em}
label{display:block}
.dg.ac{z-index:100!important}

.absolute-center {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.w6 {
  width: 22rem;
}

// .p-fix {
//   &:nth-child(1n) {
//     padding-right: 100px;
//   }
// }

.mh-p {
  min-height: 250px;
}

.cf-4th {
  &:nth-child(4n) {
    margin-right: 0;
    clear: both;
    padding-right: 100px;
  }
  &:nth-child(3n) {
    padding-right: 0;
  }
}

.p-fix {
  &:nth-child(2n) {
    padding-right: 0;
    margin-right: 0;
  }
}
