---
# Overwrite Tachyons here. Don't go overboard!
---
.system { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; }
.cf { clear: both; }
.tracked-med { letter-spacing: .06em; }
.tracked-slight { letter-spacing: .03em; }
.word-tight { word-spacing: -.5em; }
.cursor-crosshair { cursor: crosshair; }
.difference { mix-blend-mode: difference; }
.noselect { -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.m-auto {
  margin: auto;
}

#tiny-t {
  margin-right: .013em;
}

@media screen and (min-width: 30em) {
  .indent-ns { text-indent: 100px; margin-top: 0; margin-bottom: 0; }
}
