---
layout: default
---
<!-- tag -->
<h2 class="pv6-ns pv3 f-subheadline-ns f2 lh-solid-ns">A <span class="yellow">team</span> of <span class="blue">designers</span>, <span class="red">engineers</span> &amp; generally <span class="yellow">smart individuals</span> making <span class="blue">internet stuff</span> for the <span class="red">greater good</span>.</h2>

<!-- homepage work -->
{% for image in site.static_files %}
    {% if image.path contains 'images/work' %}
        <img class="mb4-ns mb3 w-100" src="{{ site.baseurl }}{{ image.path }}" alt="image" />
    {% endif %}
{% endfor %}
