<footer class="f4 lh-copy w-50-ns tracked-med">
  <p>Interested in making something astronomically weird together? <a href="#" class="link black bb bw1 dim">Click here to copy our email address</a> and then go send us your idea along with any other relevant information. We usually respond within the day.<p>
  <ul class="list ma0 pa0">
    <li class="dib mr3 bb bw1 dim">
      <a class="link black" href="http://www.github.com/tinychime">Github</a>
    </li>
    <li class="dib mr3 bb bw1 dim">
      <a class="link black" href="http://www.twitter.com/tinychime">Twitter</a>
    </li>
    <li class="dib bb bw1 dim">
      <a class="link black" href="#">Blog</a>
    </li>
  </ul>
</footer>
