<div class="bg-white ba bw5 b--white fixed ma6 vh-100 vw-100 noselect tracked-med overflow-scroll overflow-hidden">
  <div class="f3 fw5">
    <img class="mb3 mt0" src="{{ site.baseurl }}/images/jekyons-promo.png">
    <!-- <p class="f3 pt0 mt0 mb5 w-90">Jekyons is a design tool we created to prototype and build websites quickly and without abandon.</p> -->
    <img class="mb3 mt0" src="{{ site.baseurl }}/images/evidence.jpg">
    <!-- <p class="mv0">Recent Work —</p>
    <p class="mv0"><a class="link black dim" href="">Organize</a> — <a class="link black dim" href="">The Evidence of Intimacy</a> — <a class="link black dim" href="">Jekyons</a> — <a class="link black dim" href="">Five Good Things</a></p> -->
  </div>
</div>
